<h1 style="text-align:center; margin-top: 20px;">Lista de Tarefas</h1>
<h3 style="text-align:center; margin-top: 20px;">Clique sobre a situação da tarefa para alterá-la</h3>

<div style="float: right; margin-bottom: 30px; margin-top: 25px; display: flex; flex-direction: row;">
  <div style="display: flex; flex-direction: column;">
    <span>Ordenação</span>
    <mat-button-toggle-group (change)="ordenacaoChange($event.value)" [(value)]="ordenacaoSelecionadaBind">
      <mat-button-toggle value="1">Título</mat-button-toggle>
      <mat-button-toggle value="2">Data prevista</mat-button-toggle>
      <mat-button-toggle value="0">Situação</mat-button-toggle>
      <mat-button-toggle value="3">Data efetiva</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div style="display: flex; flex-direction: column; margin-left: 50px;">
    <span>Filtro</span>
    <mat-button-toggle-group (change)="filtroSituacaoChange($event.value)" multiple [(value)]="filtroSituacaoSelecionadoBind">
      <mat-button-toggle value="0">Pendentes</mat-button-toggle>
      <mat-button-toggle value="1">Concluídas</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div style="display: flex; flex-direction: column; margin-left: 50px; margin-top: 25px;">
    <div class="button-container">
      <button mat-mini-fab color="primary" matTooltip="Incluir tarefa" matTooltipClass="tooltip-big" routerLink="/tarefas/add">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>

<table mat-table [dataSource]="tarefas" class="mat-elevation-z8">

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="dataConclusaoPrevista">
    <th mat-header-cell *matHeaderCellDef> Data prevista para conclusão </th>
    <td mat-cell *matCellDef="let element"> {{element.dataConclusaoPrevista | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="dataConclusaoEfetiva">
    <th mat-header-cell *matHeaderCellDef> Data efetiva de conclusão </th>
    <td mat-cell *matCellDef="let element"> {{element.dataConclusaoEfetiva | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="situacao">
    <th mat-header-cell *matHeaderCellDef> Situação </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list>
        <mat-chip style="color: gray; cursor: pointer; width: 110px;" *ngIf="!element.concluida" (click)="updateSituacaoTarefa(element)" matTooltip="Clique para alterar a situação da tarefa" matTooltipClass="tooltip-big">
          <span style="width: 100%;">Pendente</span>
        </mat-chip>

        <mat-chip style="background-color: darkgreen; color: white; cursor: pointer; width: 110px;" *ngIf="element.concluida" (click)="updateSituacaoTarefa(element)" matTooltip="Clique para alterar a situação da tarefa" matTooltipClass="tooltip-big">
          <mat-icon style="margin-right: 2px; margin-bottom: 2px;">check</mat-icon>
          <span style="width: 100%;">Concluída</span>
        </mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="opcoes">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element">
      <div style="display: flex; flex-direction: row;">
        <div class="button-container">
          <button mat-mini-fab color="primary" matTooltip="Editar" matTooltipClass="tooltip-big" [routerLink]="['/tarefas/edit', element.id]">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <div class="button-container">
          <button mat-mini-fab color="primary" matTooltip="Excluir" matTooltipClass="tooltip-big" (click)="deleteTarefa(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>